In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
pcodes = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
# Now we have in pcodes a list of dataframes with the tables of this url.
# "our" table is in pcodes[0]
pcodes[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Postal Code    180 non-null    object
 1   Borough        180 non-null    object
 2   Neighbourhood  180 non-null    object
dtypes: object(3)
memory usage: 4.3+ KB

In [29]:
pcode_df = pcodes[0]

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [30]:
pcode_df = pcode_df[~pcode_df.Borough.str.contains('Not assigned')]

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [36]:
pcode_df[pcode_df.Neighbourhood.str.contains('Not assigned')]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [37]:
pcode_df =  pcode_df.groupby("Postal Code").agg(Neighbourhoods = ("Neighbourhood", lambda x: list(x))).reset_index()

In [25]:
display(pcode_df.head(100))

   Postal Code                                     Neighbourhoods
0          M1B                                   [Malvern, Rouge]
1          M1C           [Rouge Hill, Port Union, Highland Creek]
2          M1E                [Guildwood, Morningside, West Hill]
3          M1G                                           [Woburn]
4          M1H                                        [Cedarbrae]
..         ...                                                ...
95         M9C  [Eringate, Bloordale Gardens, Old Burnhamthorp...
96         M9L                                    [Humber Summit]
97         M9M                                 [Humberlea, Emery]
98         M9N                                           [Weston]
99         M9P                                        [Westmount]

[100 rows x 2 columns]

In [27]:
pcode_df[pcode_df.Neighbourhoods.]

KeyError: ignored